
<form [formGroup]="formulario" (ngSubmit)="crearCita()" >
    <ul>
        <li>
            <select class="form-control" formControlName="selectmedicos"> 
                <option *ngFor="let obj of medicos" [ngValue]="obj">{{obj.especialidad}}: {{obj.nombres}} {{obj.apellidos}}</option>
            </select>
        </li>
        <li>
            <input type="date" formControlName="fecha" value="{{ post.fecha | date:'yyyy-MM-dd' }}">
        </li>
         <br>
         <li>

            <label for="appt">Escoge una hora para tu cita medica:</label>
            <br>
            <input type="time" formControlName="hora"  min="09:00" max="18:00"  >
            <small>Horas de Oficina corresponden de 9am a 6pm</small>

        </li>
        <br>
         <li>
            <label for="descripcion" style="padding-right: 10%" >Descripcion</label>
            <br>
            <input formControlName="descripcion" type="text" required >
        </li>
        <br>
        <li>
           
            <button type="submit" id="pedircita" > Confirmar Cita</button>
            
        </li>
    </ul>
</form>